* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  height: auto;
  width: 100%;
  background-color: white;
}

::-webkit-scrollbar {
  background-color: white;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #00754a;
  border-radius: 10px;
}

nav {
  height: 60px;
  width: 100%;
  background-color: white;
  -webkit-box-shadow: -1px 0.5px 5px 0px rgba(58, 57, 57, 0.75);
  -moz-box-shadow: -1px 0.5px 5px 0px rgba(58, 57, 57, 0.75);
  box-shadow: -1px 0.5px 5px 0px rgba(58, 57, 57, 0.75);
}
.profile-nav {
  height: 30px;
  width: 100%;
  background-color: white;
  margin-top: 4px;
}

.profile-nav p {
  font-size: 14px;
  padding-left: 50px;
  padding-top: 7px;
}

.container {
  position: relative;
  height: calc(100vh - 80px);
  width: 100%;
  background-color: #faf6ee;
  display: flex;
  align-items: center;
  justify-content: center;
}
#img1 {
  position: absolute;
  top: -30px;
  left: 0;
}

#img2 {
  position: absolute;
  bottom: 0;
  right: 0;
}

.box {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.avatar {
  height: 190px;
  width: 190px;
  border-radius: 50%;
  background-image: url("https://www.starbucks.in/assets/images/profileDP.svg");
  background-size: cover;
  background-position: center;
  border: 4px solid #cba258;
}
.text-part h1 {
  font-size: 26px;
  font-weight: 600;
}

.text-part button {
  padding: 10px 40px;
  border-radius: 20px;
  outline: none;
  border: none;
  background-color: black;
  color: white;
  font-weight: bold;
}

.text-part {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
